:root {
  --light-background-color: #f1f5f9;
  --dark-background-color: #1e293b;
  --medium-dark-background-color: #94a3b8;

  --container-border: 2px solid #0f172a;

  --header-icon-size: 60px;

  --large-font-size: 2em;
  --sidebar-title-font-size: 1.3em;

  --light-font-color: #e2e8f0;
  --dark-font-color: #0f172a;
}

body {
  background-color: var(--light-background-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--dark-font-color);
}

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 8fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.header,
.sidebar,
.add-book-button,
.main {
  border: var(--container-border);
  border-radius: 10px;
  padding: 0.5em;
}

/* Header styles */
.header {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(3, 100px);

  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.header-icon {
  height: var(--header-icon-size);
}

.library-title {
  font-size: var(--large-font-size);
  font-weight: bold;
}

/* Sidebar styles */
.sidebar-title {
  font-size: var(--sidebar-title-font-size);
  text-align: center;
  text-decoration: 2px underline;
}

.catalog-list-element {
  display: grid;
}

/* Add Book Button styles */
.add-book-button {
  background-color: var(--dark-background-color);
  color: var(--light-font-color);
  font-weight: bold;
  border: none;
}

.add-book-button:active {
  background-color: var(--medium-dark-background-color);
  color: var(--dark-font-color);
  border: none;
}

/* Main styles */
.main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  overflow: scroll;
}

.book-card {
  background-color: var(--medium-dark-background-color);
  border-radius: 10px;
  padding: 0.5em;
}

/* Book Form Dialog styles */
#book-form-dialog {
  background-color: var(--light-background-color);
  border: var(--container-border);
  border-radius: 10px;
  position: absolute;
  margin: 5rem auto;

  ::backdrop {
    opacity: 0.4;
  }
}

.book-form-title {
  text-decoration: none;
  grid-column: 1 / -1;
}

#book-form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1em;
  align-items: center;
}

.book-form-label {
  justify-self: end;
}

input[type="text"],
input[type="number"] {
  border: none;
  background-color: var(--medium-dark-background-color);
  border-radius: 10px;
  outline: none;
  padding: 0.2em 10px;
  color: var(--dark-font-color);
  font-weight: bold;
}

#confirm-button {
  grid-column: 1 / -1;
}

#cancel-button {
  grid-column: 1 / -1;
  background-color: rgb(192, 72, 72);
}